<html>
   <head>
    <title>Code Share: Share your codes!</title>
    <link  href="/static/pygment_native.css" rel="stylesheet">   </head>
   <body>
       <h1>Code Share: Share your codes!</h1>
       <p><a href="/">Home</a>
       {% if uid %}
       <p align=left><a href="/view/{{ uid }}">View only code: {{ uid }}</a>
       <p align=left>URL: <input name='url' value="{{ url }}">
       {% endif %}
       <p align=center>
        <form method="POST" action="/publish" enctypwe="multipart/form-data">
			<select name="language">
				<option value="py" {% if 'py' == language %} selected {% endif %}>Python</option>
				<option value="js" {% if 'js' == language %} selected {% endif %}>Javascript</option>
				<option value="php" {% if 'php' == language %} selected {% endif %}>PHP</option>
				<option value="c" {% if 'c' == language %} selected {% endif %}>C</option>
			</select>

			<button type="submit" name="submit" value="edit">Save</button>
			<button type="submit" name="submit" value="view">Save &amp; View</button>
			<textarea name="code" rows=20 cols=100>{{ code }}</textarea>
			<input type="hidden" name="uid" value="{{ uid }}">
	   </form>
   </body>
</html>